html, body {
  height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}
footer, .push {
    height: 4em;
    clear: both;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe Script bold";
}
header {
    margin-bottom: 10px;
    padding: 6px 0;
}

footer {
  text-align: center;
}

#user-refused .alert {
    padding: 20px;
}
#user-refused .alert p {
    margin-top: 20px;
}

#oauth-part2 .alert-box {
    position: relative;
    margin-top: 90px;
}
#oauth-part2 img {
    float: right;
    position: absolute;
    right: 0px;
    top: -76px;
}

.profile {
    line-height: 79px;
    text-align: right;
}

.profile img {
    max-width: 80px;
}
.profile span {
    margin-right: 12px;
    font-size: 1.5em;
}

#signed-in {
    margin-top: 12px;
}

.stackexchange-logo{
    width: 20px;
}